.card {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 2rem;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  .card > .img-container {
    height: 100%;
    text-align: center;
  }
  .card > .img-container > img {
    width: 70%
  }
  
  
  
 
  